{{ define "Update" }}
    {{ template "Header"}}
    {{ template "Menu"}}
        <br>
            <h1>Update Customer</h1>
        <br>
        <br>
        <form method="PUT" action="/alter">
            <input type="hidden" name="id" value="{{ .CustomerId }}" />
            Customer Name: 
            <input type="text" name="customername" placeholder="Customer name" value="{{ .CustomerName }}" autofocus/>
            <br>
            <br>
            SSN:
            <input type="text" name="ssn" placeholder="ssn" value="{{ .SSN }}"/>
            <br>
            <br>
            <input type="submit" value="Update Customer" />
        </form>
    {{ template "Footer"}}
{{ end }}